:root {
    --primary-color: #2C6E49;
    --secondary-color: #4C956C;
    --accent1-color: #F2C14E;
    --accent2-color: #FFFFFF;

    --heading-font: Arial, sans-serif;
    --paragraph-font: Arial, sans-serif;

    --nav-background-color: #2C6E49;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #F2C14E;
    --nav_hover_background-color: #4C956C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 16px;
    background-color: var(--secondary-color);
}

header > img {
    width: 120px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header nav a {
    color: var(--nav-link-color);
    background-color: var(--nav-backgroud-color);
    padding: 10px 15px;
    text-decoration: none;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav_hover_backgroud-color);
}

.hero {
    position: relative;
}

.historia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.historia h2 {
    grid-column: 1 / 4;
}

.historia img {
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(44, 110, 73, 0.8);
    color: var(--accent2-color);
    padding: 16px;
}

.hero article img {
    float: right;
    width: 125px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

footer .socialmedia {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

footer .socialmedia img {
    width: 40px;
    height: 40px;
}

.aventuras {
    margin: 16px;
    padding: 8px;
}

.aventuras h2 {
    margin-bottom: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.galeria figure {
    margin: 0;
    text-align: center;
}

.galeria img {
    width: 100%;
    height: auto;
    display: block;
}

.galeria figcaption {
    padding: 8px;
    font-weight: bold;
}